<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScanCode.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DC5EFD4B6374E55B40E89150DAB725D405A1F605</string>
				<key>dateExpires</key>
				<string>22/1/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DC5EFD4B6374E55B40E89150DAB725D405A1F605</string>
						<key>dateExpires</key>
						<string>22/1/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XNZ46FSS62</string>
						<key>name</key>
						<string>Phung  Quang Tuan</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XNZ46FSS62.com.banh</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XNZ46FSS62</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ScanCode.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b3e41069-93f1-4d3b-a00b-f3efecc888a6</string>
				<key>dateExpires</key>
				<string>5/3/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.banh</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XNZ46FSS62</string>
				<key>name</key>
				<string>Phung  Quang Tuan</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
